body{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin-top: 20px;
    ba
}
.navbar {
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

.images{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.images img{
    width: 150px;
    height: 150px;
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    object-fit: cover;
    border-radius: 70px;
}

.images img:hover{
    transform: scale(1.1);
    background-color: #e0e0e0;
    
}

.score-board {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 30px 0;
  text-align: center;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.score p:first-child {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}


.score p:last-child {
  font-size: 16px;
  margin-top: 5px;
  color: #000;
}


.msg-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


#msg {
  background-color: #000;
  color: #fff;
  padding: 10px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}
